body{
    text-align: center;
    font-weight: 300;
    color: rebeccapurple;
}
header{
    color: violet;
    font-style: italic;
    border: 1px solid green;
}
.post
{
    color: red;
    background-color: violet;
}
.cabecera
{
    background-color: yellow;
    color: blue;
    font-weight: 300;
}
.cabecera_img
{
    background-color: rgba(102, 51, 153, 0.493);
}
.cabecera_img img{
    width: 450px;
    height: 450px;
}
footer{
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 1px 0;
}