body{
    text-align: center;
    font-weight: 300;
    color: rebeccapurple;
}
header{
    color: violet;
    font-style: italic;
    border: 1px solid green;
}
.cabecera
{
    background-color: yellow;
    color: orange;
    font-weight: 300;
}